hr {color: #151;
    background-color: #151;
    border: 0;
    width: 90%;
    height: 5px}
hr.red {color: #811;
    background-color: #811;
    border: 0;
    width: 90%;
    height: 5px}
hr.full {color: #151;
    background-color: #151;
    border: 0;
    width: 100%;
    height: 5px}
ul {font-family: Arial,Helvetica,sans-serif;
   font-size: medium}
ol {font-family: Arial,Helvetica,sans-serif;
   font-size: medium}
p {font-family: Arial,Helvetica,sans-serif;
   font-size: medium}
table {font-family: Arial,Helvetica,sans-serif;
   font-size: medium}
small {font-family: Arial,Helvetica,sans-serif;
   font-size: small}
p.green {font-family: Arial,Helvetica,sans-serif;
   font-size: medium;
   color: #115511}
p.red {font-family: Arial,Helvetica,sans-serif;
   font-size: medium;
   color: #881111}
p.gold {font-family: Arial,Helvetica,sans-serif;
   font-size: medium;
   color: #ffcc33}
h1 {font-family: Arial,Helvetica,sans-serif;
   font-size: xx-large;
   color: #115511}
h2 {font-family: Arial,Helvetica,sans-serif;
   font-size: x-large;
   color: #115511}
h3 {font-family: Arial,Helvetica,sans-serif;
   font-size: large;
   color: #115511}
h4 {font-family: Arial,Helvetica,sans-serif;
   font-size: medium;
   color: #115511}
h3.red {font-family: Arial,Helvetica,sans-serif;
   font-size: large;
   color: #881111}
h4.red {font-family: Arial,Helvetica,sans-serif;
   font-size: medium;
   color: #881111}
dt {font-family: Arial,Helvetica,sans-serif}
dd {font-family: Arial,Helvetica,sans-serif}
b.green {color: #115511;
   font-family: Arial,Helvetica,sans-serif;
   font-size: medium}
b.biggreen {color: #115511;
   font-family: Arial,Helvetica,sans-serif;
   font-size: large;
   font-style: normal}
b.xbiggreen {color: #115511;
   font-family: Arial,Helvetica,sans-serif;
   font-size: x-large;
   font-style: normal}
b.gold {color: #ff9900;
   font-family: Arial,Helvetica,sans-serif;
   font-size: medium}
b.biggold {color: #ff9900;
   font-family: Arial,Helvetica,sans-serif;
   font-size: large;
   font-style: normal}
b.maroon {color: #881111;
   font-family: Arial,Helvetica,sans-serif;
   font-size: medium}
b.bigmaroon {color: #881111;
   font-family: Arial,Helvetica,sans-serif;
   font-size: large;
   font-style: normal}
b.red {color: #ff3300;
   font-family: Arial,Helvetica,sans-serif;
   font-size: medium}
b.bigred {color: #ff3300;
   font-family: Arial,Helvetica,sans-serif;
   font-size: large;
   font-style: normal}
b.black {color: #000000;
   font-family: Arial,Helvetica,sans-serif;
   font-size: medium}
b.bigblack {color: #000000;
   font-family: Arial,Helvetica,sans-serif;
   font-size: large;
   font-style: normal}
aa {font-family: Arial,Helvetica,sans-serif}
.bgcol {
   font-family: Arial,Helvetica,sans-serif;
   background-color:DarkGreen;
   border:4px solid;
   border-radius:8px;
}
